<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
          .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="accounts/signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="createpostuser{{user.id}}">Create a post</a>
        <a href="changeaccdetails">Change Account Details</a>
        {% else %}
        <a href="accounts/signup">Register</a>
        <a href="accounts/signin">Login</a>
        {% endif %}
    </div>
    <p></p>
    <div>
        <form action="changeaccdetails" method="POST">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First name" value="{{user.first_name}}"><br><br>
            <input type="text" name="last_name" placeholder="Last name" value="{{user.last_name}}"><br><br>
            <input type="text" name="email" placeholder="E-mail" value="{{user.email}}"><br><br>
            <a href="accounts/changepass"><button type="button" name="changepass">Change password</button></a><br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>