<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
          .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="accounts/signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="createpostuser{{user.id}}">Create a post</a>
        <a href="changeaccdetails">Change Account Details</a>
        {% else %}
        <a href="accounts/signup">Register</a>
        <a href="accounts/signin">Login</a>
        {% endif %}
    </div>
    <p></p>
    <form action="createpostuser{{user.id}}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"><br><br>
        <textarea id="content" name="content" rows="8" cols="50" placeholder="Content"></textarea><br><br>
        <input type="submit">
    </form>
</body>
</html>