<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
    <style>
        .comment{
            padding: 4px;
            border: 2px solid black;
            margin: 10px;
        }
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
          .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="accounts/signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="createpostuser{{user.id}}">Create a post</a>
        <a href="changeaccdetails">Change Account Details</a>
        {% else %}
        <a href="accounts/signup">Register</a>
        <a href="accounts/signin">Login</a>
        {% endif %}
    </div>
    <p></p>
    <h1>{{post.title}}</h1> by {{post.postowner_id.first_name}} {{post.postowner_id.last_name}}
    <p>Posted {{post.datetimeposted}}</p>
    {% if user == post.postowner_id%}
        <a href="editpost{{post.id}}"><button type="button" name="edit">Edit my post</button></a>
        <a href="deletepost{{post.id}}"><button type="button" name="edit">Delete my post</button></a>
    {% endif %}<br><br>
    <p>{{post.content|linebreaks}}</p><br><br>
    <hr>
    <h2>Comments</h2>
    {% for comment in comments %}
        <div class="comment">
            <h4>{{comment.commentowner_id.first_name}} {{comment.commentowner_id.last_name}}&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{comment.datetimecommented}}</h4>
            {{comment.content}}<br><br>
            {% if user == comment.commentowner_id %}
                <a href="deletecomment{{comment.id}}/{{post.id}}"><button type="button" name="deletecomment">Delete my comment</button></a>
            {% endif %}
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="comment{{post.id}}" method="POST">
            {% csrf_token %}
            <textarea id="content" name="content" rows="8" cols="50" placeholder="Comment here..."></textarea><br><br>
            <input type="submit">
        </form>
    {% else %}
        You're not logged in to comment... <a href="accounts/signin">Login here</a>
    {% endif %}
</body>
</html>